div.registr
{
    position: absolute;
    max-width: 2000px;
    min-width: 320px;
    width: 100%;
    max-height: 1200px;
    height: 100%;
    min-height: 400px;
    left: 0px;
    top: 105px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
label
{
    font-family: "Palatino Linotype", serif;
    font-size: 25px;
    color:#C8A35F;
    line-height: 175%;  
    border-radius: 15px ; 
}
h1
{
    font-family: 'Roboto';
   font-style: normal;
   color: #C8A35F;

}