

p{
  font-family: "Palatino Linotype", serif;
  vertical-align: middle;
  font-size: 25px;
  color: #43e81e;
  margin-left: 100px;
  } 

 h3{ 
    font-family: 'Kurale', 'Arial Black', serif;
    font-weight: normal;
     color: #43e81e;
      font-size: 50px;
      margin-left: 100px;
    }
    label {
        font-family: "Palatino Linotype", serif;
        font-size: 25px;
        color: #43e81e;
        line-height: 175%;
        margin-left: 100px;
       
       }
    .btn {
        margin-left: 100px;
        margin-top: 50px;
        border-radius: 15px;
        font-family: Arial, Helvetica, serif;
        font-size: .20 em;
        height: 50px;
        width: 120px;;
        vertical-align: middle;
       }
       .btn-primary {
        background-color: rgb(106, 255, 0);
       }
       body {
        background-color: rgb(50,122,167);
        padding: 0 20px 20px 20px;
        margin: 0px;
       }
       a{
       font-family: "Palatino Linotype", serif;
  vertical-align: middle;
  font-size: 25px;
  color: #060606;
  margin-left: 100px;
       }
       
       
       